* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
}

input {
    margin: 15px;
    font-size: 20px;
    height: 120px;
    width: 90%;
    border: none;
    border-radius: 15px;
}

form {
    display: flex;
}


form .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

form .numbers button {
    width: 100px;
    height: 50px;
    margin: 5px 5px;
    border-radius: 1rem;
    border: none;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
}

form .numbers button:hover{
    background: rgb(87, 83, 83);
}

form .operator {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

form .operator button {
    margin-bottom: 15px;
    font-size: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form .operator button:hover {
    background: rgb(87, 83, 83);
    
}
